<!-- layouts/partials/categoriesandtags.html -->

{{ $taxonomy := "categories" }}
{{ with .Param $taxonomy }}
    {{ range $index, $category := . }}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $category) -}}
          <a href="{{ .Permalink }}">{{ $category | urlize }}</a>,&ensp;
      {{- end -}}
    {{- end -}}
{{ end }}

{{ $taxonomy := "tags" }}
{{ with .Param $taxonomy }}
    {{ range $index, $tag := . }}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
          <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>,&ensp;
      {{- end -}}
    {{- end -}}
{{ end }}